/* Dekstop */
body {
  font-family: "TT Commons";
  color: #fff;
  font-size: 24px;
}

.container {
  width: 100%;
  max-width: 1460px;
  padding: 0 20px;
  margin: 0 auto;
}

.title {
  font-size: 130px;
  line-height: 130px;
  font-weight: bold;
}

.subtitle {
  font-size: 36px;
  font-weight: bold;
  line-height: 41px;
}

.text {
  font-size: 24px;
  line-height: 30px;
}

.text_grey {
  color: #8e8f95;
}

a {
  color: #fff;
}

.link-hover {
  -webkit-transition: opacity 0.7s cubic-bezier(0, 0.01, 0.02, 1);
  transition: opacity 0.7s cubic-bezier(0, 0.01, 0.02, 1);
}

.link-hover:hover {
  opacity: 0.5;
}

.link-border {
  border-bottom: 1px solid #fff;
  font-weight: bold;
  -webkit-transition: opacity 0.7s cubic-bezier(0, 0.01, 0.02, 1);
  transition: opacity 0.7s cubic-bezier(0, 0.01, 0.02, 1);
}

.link-border:hover {
  opacity: 0.5;
}

/* Header */
.header {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  z-index: 1;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item {
  margin-right: 55px;
}

.nav__item:nth-child(5) {
  margin-right: 0;
}

.nav__link {
  position: relative;
  -webkit-transition: opacity 0.7s cubic-bezier(0, 0.01, 0.02, 1);
  transition: opacity 0.7s cubic-bezier(0, 0.01, 0.02, 1);
}

.nav__link:hover {
  opacity: 1;
}

.nav__link::after {
  content: "";
  position: absolute;
  left: -20px;
  top: 6px;
  width: 7px;
  height: 7px;
  background-color: #6451e1;
  opacity: 0;
  -webkit-transition: opacity 0.7s cubic-bezier(0, 0.01, 0.02, 1);
  transition: opacity 0.7s cubic-bezier(0, 0.01, 0.02, 1);
}

.nav__link:hover::after {
  opacity: 1;
}

.header__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__social_hidden {
  display: none;
}

.header__social_item {
  margin-right: 30px;
}

.header__social_item:last-child {
  margin-right: 0;
}

.header__social_link > img {
  -webkit-transition: opacity 0.7s cubic-bezier(0, 0.01, 0.02, 1);
  transition: opacity 0.7s cubic-bezier(0, 0.01, 0.02, 1);
}

.header__social_link > img:hover {
  opacity: 0.5;
}

/* Intro */
.intro {
  width: 100%;
  height: 100vh;
  background: url("/resources/img/intro/intro-min.jpg") center no-repeat;
  background-size: cover;
}

.intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  width: 100%;
  max-width: 1460px;
  padding: 0 20px;
  position: absolute;
  top: calc(50% - 80px);
  left: 0;
  right: 0;
  margin: 0 auto;
}

.intro__title {
  width: 40%;
  line-height: 130px;
}

.intro__description {
  width: 37%;
}

.intro__subtitle {
  line-height: 41px;
  margin-bottom: 40px;
}

.intro__text {
  margin-bottom: 45px;
  line-height: 30px;
}

.intro__link {
  display: inline-block;
}

/* About */
.about {
  padding-top: 250px;
  padding-bottom: 250px;
  background-color: #2a2d3c;
}

.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.about__title_hidden {
  display: none;
}

.about__description {
  width: 50%;
}

.about__title {
  margin-bottom: 40px;
}

.about__text {
  line-height: 30px;
}

.about__text:nth-child(2) {
  margin-bottom: 30px;
}

.about__text:nth-child(3) {
  margin-bottom: 60px;
}

.about__achievements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-achievement {
  width: 100%;
  max-width: 220px;
  padding-top: 46px;
  padding-bottom: 46px;
  text-align: center;
}

.about-achievement:nth-child(1) {
  background: url("/resources/img/about/item-1-min.png") center no-repeat;
  background-size: cover;
}

.about-achievement:nth-child(2) {
  background: url("/resources/img/about/item-2-min.png") center no-repeat;
  background-size: cover;
}

.about-achievement:nth-child(3) {
  background: url("/resources/img/about/item-3-min.png") center no-repeat;
  background-size: cover;
}

.about-achievement__title {
  font-size: 100px;
  font-weight: bold;
  margin-bottom: -14px;
}

.about-achievement__text {
  font-weight: bold;
}

/* Skills */
.skills {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #1e202c;
}

.skills__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
}

.skills__block {
  width: 100%;
  max-width: 380px;
  margin-bottom: 170px;
}

.skills__block:nth-child(n + 2) {
  margin-bottom: 0;
}

.skills__block_title {
  margin-top: 60px;
  margin-bottom: 40px;
}

/* Portfolio */
.portfolio {
  padding-top: 250px;
  background-color: #2a2d3c;
}

.portfolio__works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 75px;
}

.portfolio__work_link {
  display: inline-block;
  margin-bottom: 90px;
}

.portfolio__work_link:nth-child(n + 2) {
  margin-bottom: 0;
}

.portfolio__work_link:hover .portfolio__work_text:after {
  width: 100%;
}

.portfolio__work_link:hover .portfolio__img_container img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 0.5;
}

.portfolio__work_background-1 {
  background: url("/resources/img/portfolio/work-1-min.jpg") center no-repeat;
}

.portfolio__work_background-2 {
  background: url("/resources/img/portfolio/work-5-min.jpg") center no-repeat;
}

.portfolio__work_background {
  width: 100%;
  height: 100%;
  min-height: 740px;
  max-width: 690px;
  padding: 80px 50px;
  background-size: 100% 100%;
  -webkit-transition: background-size 0.7s cubic-bezier(0, 0.01, 0.02, 1);
  transition: background-size 0.7s cubic-bezier(0, 0.01, 0.02, 1);
}

.portfolio__work_background:hover {
  background-size: 110% 110%;
}

.portfolio__work_block {
  width: 100%;
  max-width: 690px;
}

.portfolio__img_container {
  margin-bottom: 10px;
  display: inline-block;
  overflow: hidden;
}

.portfolio__img_container img {
  -webkit-transition: opacity 0.7s cubic-bezier(0, 0.01, 0.02, 1), -webkit-transform 0.7s cubic-bezier(0, 0.01, 0.02, 1);
  transition: opacity 0.7s cubic-bezier(0, 0.01, 0.02, 1), -webkit-transform 0.7s cubic-bezier(0, 0.01, 0.02, 1);
  transition: transform 0.7s cubic-bezier(0, 0.01, 0.02, 1), opacity 0.7s cubic-bezier(0, 0.01, 0.02, 1);
  transition: transform 0.7s cubic-bezier(0, 0.01, 0.02, 1), opacity 0.7s cubic-bezier(0, 0.01, 0.02, 1), -webkit-transform 0.7s cubic-bezier(0, 0.01, 0.02, 1);
}

.portfolio__work_subtitle {
  margin-top: 30px;
  margin-bottom: 30px;
}

.portfolio__work_text {
  position: relative;
  display: inline-block;
}

.portfolio__work_text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: #fff;
  -webkit-transition: width 0.7s cubic-bezier(0, 0.01, 0.02, 1);
  transition: width 0.7s cubic-bezier(0, 0.01, 0.02, 1);
}

/* Comments */
.comments {
  padding-top: 250px;
  padding-bottom: 50px;
  background-color: #2a2d3c;
}

.comments__slider {
  margin-top: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comments__slide {
  width: 100%;
  max-width: 460px;
  height: 400px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #333647;
  padding: 60px 50px;
}

.comments__slide_name {
  position: relative;
  display: inline-block;
  padding-left: 120px;
  font-weight: bold;
}

.comments__slide_name:after {
  position: absolute;
  left: 0;
  top: -10px;
  width: 100px;
  height: 100px;
}

.comments__slide_name-1:after {
  content: "";
  background: url("/resources/img/comments/photo-1-min.png") center no-repeat;
}

.comments__slide_name-2:after {
  content: "";
  background: url("/resources/img/comments/photo-2-min.png") center no-repeat;
}

.comments__slide_name-3:after {
  content: "";
  background: url("/resources/img/comments/photo-3-min.png") center no-repeat;
}

.comments__slide_name-4:after {
  content: "";
  background: url("/resources/img/comments/photo-4-min.png") center no-repeat;
}

.comments__slide_name-5:after {
  content: "";
  background: url("/resources/img/comments/photo-5-min.png") center no-repeat;
}

.comments__slide_name-6:after {
  content: "";
  background: url("/resources/img/comments/photo-6-min.png") center no-repeat;
}

.comments__slide_rating {
  padding-left: 120px;
  margin-top: 12px;
  color: #6451e1;
  font-size: 18px;
}

.comments__slide_text {
  margin-top: 40px;
}

.comments__slide_star {
  cursor: pointer;
  -webkit-transition: opacity 0.7s cubic-bezier(0, 0.01, 0.02, 1);
  transition: opacity 0.7s cubic-bezier(0, 0.01, 0.02, 1);
}

.comments__slide_star:hover {
  opacity: 0.5;
}

/* Price */
.price {
  padding-top: 250px;
  background-color: #2a2d3c;
}

.price__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  margin-top: 60px;
}

.price-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 700px;
  padding: 80px;
  background-color: #1e202c;
}

.price-block__title {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 48px;
}

.price-block__text {
  margin-bottom: 60px;
}

.price-block__included {
  margin-bottom: 20px;
  font-weight: bold;
}

.price-block__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: start;
      -ms-flex-positive: start;
          flex-grow: start;
  width: 100%;
  max-width: 480px;
  margin-bottom: 60px;
}

.price-block__menu_item {
  width: 191px;
  margin-right: auto;
  margin-bottom: 15px;
}

.price-block__menu_item:nth-child(2), .price-block__menu_item:nth-child(4), .price-block__menu_item:nth-child(6) {
  margin-right: 0;
}

.price-block__price {
  font-weight: bold;
  font-size: 48px;
}

/* Order */
.order {
  padding-top: 250px;
  background-color: #2a2d3c;
}

.order__title {
  font-size: 100px;
  line-height: 104px;
  margin-bottom: 100px;
}

.order__title span {
  color: #6451e1;
}

.order__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.order__input_wrap {
  position: relative;
}

.order__input {
  width: 340px;
  padding: 18px 25px 15px;
  border: 2px solid #333647;
  background-color: #333647;
  color: #fff;
  -webkit-transition: border-color 0.7s cubic-bezier(0, 0.01, 0.02, 1);
  transition: border-color 0.7s cubic-bezier(0, 0.01, 0.02, 1);
}

.order__input:focus {
  border-color: #1e202c;
}

.order__input:valid {
  background: url("/resources/img/order/valid-icon.svg") center no-repeat;
  background-position: 295px 21px;
  background-color: #333647;
}

.js-validate-error-label {
  position: absolute;
  font-size: 20px;
  left: 0;
  bottom: -30px;
}

.order__button {
  width: 340px;
  padding: 18px 25px 15px;
  border: 2px solid #6451e1;
  color: #fff;
  background-color: #6451e1;
  font-weight: bold;
  -webkit-transition: background-color 0.7s cubic-bezier(0, 0.01, 0.02, 1), color 0.7s cubic-bezier(0, 0.01, 0.02, 1);
  transition: background-color 0.7s cubic-bezier(0, 0.01, 0.02, 1), color 0.7s cubic-bezier(0, 0.01, 0.02, 1);
}

.order__button:hover {
  background-color: #2a2d3c;
  color: #6451e1;
}

.order__policy_text {
  width: 100%;
  max-width: 340px;
  font-size: 17px;
  line-height: 20px;
  margin-left: auto;
  margin-top: 10px;
}

/* Footer */
.footer {
  padding-top: 250px;
  padding-bottom: 50px;
  background-color: #2a2d3c;
}

.footer__inner {
  padding: 80px;
  background-color: #1e202c;
}

.footer__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
}

.footer-about {
  width: 100%;
  max-width: 460px;
}

.footer-about__title {
  margin-bottom: 20px;
  font-size: 48px;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
}

.footer-nav__list {
  margin-right: 120px;
}

.footer-nav__list:last-child {
  margin-right: 0;
}

.footer-nav__menu_item {
  margin-bottom: 15px;
}

.footer-nav__menu_link {
  font-weight: bold;
}

.footer-lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-lower__link {
  margin-left: 100px;
}

.footer-lower__link:first-child {
  margin-left: 0;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social_item {
  margin-right: 35px;
}

.footer__social_item:last-child {
  margin-right: 0;
}

.footer__social_item:nth-child(1) .footer__social_link {
  width: 40px;
  height: 23px;
  background: url("/resources/img/footer/social-1.svg") center no-repeat;
}

.footer__social_item:nth-child(2) .footer__social_link {
  width: 30px;
  height: 30px;
  background: url("/resources/img/footer/social-2.svg") center no-repeat;
}

.footer__social_item:nth-child(3) .footer__social_link {
  width: 27px;
  height: 30px;
  background: url("/resources/img/footer/social-3.svg") center no-repeat;
}

.footer__social_item:nth-child(4) .footer__social_link {
  width: 30px;
  height: 30px;
  background: url("/resources/img/footer/social-4.svg") center no-repeat;
}

.footer__social_link {
  display: inline-block;
}

/* Thaks */
.thank {
  overflow: hidden;
  position: fixed;
  bottom: -200px;
  left: 50px;
  padding: 50px;
  background-color: #1e202c;
  width: 100%;
  max-width: 500px;
  opacity: 0;
  z-index: 200;
  -webkit-transition: opacity 0.7s cubic-bezier(0, 0.01, 0.02, 1), bottom 0.5s cubic-bezier(0, 0.01, 0.02, 1);
  transition: opacity 0.7s cubic-bezier(0, 0.01, 0.02, 1), bottom 0.5s cubic-bezier(0, 0.01, 0.02, 1);
}

.thank__close {
  background: url("/resources/img/thank/close.svg") center no-repeat;
  position: absolute;
  top: 32px;
  right: 32px;
  width: 15px;
  height: 15px;
}

.thank__title {
  font-size: 24px;
  margin-bottom: 15px;
}

.active {
  display: block;
  overflow: visible;
  bottom: 50px;
  opacity: 1;
}

/* Addaptive */
@media (max-width: 1460px) {
  .about-achievement {
    max-width: 200px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .price-block {
    max-width: 663px;
  }
  .portfolio__work {
    max-width: 640px;
  }
  .order__title {
    font-size: 90px;
  }
  .order__input {
    width: 315px;
  }
  .order__button {
    width: 315px;
  }
  .order__policy_text {
    max-width: 315px;
  }
}

@media (max-width: 1370px) {
  .container {
    max-width: 1270px;
  }
  .nav__item {
    margin-right: 42px;
  }
  .intro__inner {
    max-width: 1270px;
  }
  .intro__description {
    width: 100%;
    max-width: 500px;
  }
  .about-achievement {
    max-width: 190px;
    padding-top: 35px;
    padding-bottom: 35px;
  }
  .about__photo {
    max-width: 580px;
  }
  .skills__block {
    max-width: 360px;
  }
  .portfolio__work {
    max-width: 590px;
  }
  .portfolio__work_background {
    min-height: 680px;
  }
  .comments__slide {
    width: 100%;
    max-width: 460px;
    height: 390px;
    padding: 50px 40px;
  }
  .price-block {
    max-width: 600px;
    padding: 65px;
  }
  .price-block__title {
    font-size: 46px;
  }
  .order__title {
    font-size: 86px;
  }
  .order__input {
    width: 300px;
  }
  .order__button {
    width: 300px;
  }
  .order__policy_text {
    max-width: 300px;
  }
  .footer-nav__list {
    margin-right: 70px;
  }
  .footer-lower__link {
    margin-left: 50px;
  }
}

@media (max-width: 1270px) {
  .nav__item {
    margin-right: 35px;
  }
  .about__photo {
    max-width: 560px;
  }
  .about-achievement {
    max-width: 180px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .portfolio__work {
    max-width: 550px;
  }
  .portfolio__work_background {
    min-height: 650px;
  }
  .comments__slide {
    max-width: 600px;
    height: 335px;
  }
  .comments__slide_name {
    max-width: 320px;
  }
  .price-block {
    max-width: 560px;
  }
  .order__title {
    font-size: 82px;
    line-height: 82px;
  }
  .order__input {
    width: 280px;
  }
  .order__button {
    width: 280px;
  }
  .order__policy_text {
    max-width: 280px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
  body {
    font-size: 20px;
  }
  .title {
    font-size: 110px;
    line-height: 110px;
  }
  .subtitle {
    font-size: 29px;
    line-height: 39px;
  }
  .text {
    font-size: 20px;
    line-height: 28px;
  }
  .header {
    top: 55px;
  }
  .intro__inner {
    max-width: 970px;
  }
  .intro__description {
    max-width: 430px;
  }
  .intro__subtitle {
    margin-bottom: 20px;
  }
  .intro__text {
    margin-bottom: 30px;
  }
  .about {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .about-achievement {
    max-width: 140px;
    padding-top: 17px;
    padding-bottom: 17px;
  }
  .about-achievement__title {
    font-size: 80px;
  }
  .about__photo {
    max-width: 385px;
  }
  .about__description {
    width: 100%;
    max-width: 461px;
  }
  .about__text:nth-child(2) {
    margin-bottom: 20px;
  }
  .about__text:nth-child(3) {
    margin-bottom: 50px;
  }
  .skills__inner {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .skills__block {
    max-width: 360px;
    margin-bottom: 120px;
  }
  .skills__block:nth-child(n + 2) {
    margin-bottom: 120px;
  }
  .skills__block:nth-child(5), .skills__block:nth-child(6) {
    margin-bottom: 0;
  }
  .skills__block_title {
    margin-top: 35px;
    margin-bottom: 20px;
  }
  .portfolio {
    padding-top: 200px;
  }
  .portfolio__work {
    max-width: 450px;
  }
  .portfolio__work_background {
    min-height: 520px;
  }
  .portfolio__work_link {
    margin-bottom: 80px;
  }
  .portfolio__work_subtitle {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .comments {
    padding-top: 200px;
  }
  .comments__slide {
    height: 315px;
  }
  .price {
    padding-top: 200px;
  }
  .price-block {
    max-width: 450px;
    padding: 60px;
  }
  .order {
    padding-top: 200px;
  }
  .order__title {
    font-size: 65px;
    line-height: 65px;
  }
  .order__policy_link {
    font-size: 15px;
  }
  .order__input {
    width: 215px;
    padding-right: 35px;
  }
  .order__input:valid {
    background-position-x: 180px;
  }
  .order__button {
    width: 215px;
  }
  .order__policy_text {
    max-width: 215px;
  }
  .footer {
    padding-top: 200px;
  }
  .thank {
    padding: 30px;
  }
  .thank__title {
    margin-bottom: 10px;
  }
}

@media (max-width: 960px) {
  .container {
    max-width: 730px;
  }
  .header__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__link {
    margin-left: auto;
    margin-right: 70px;
  }
  .nav {
    display: none;
  }
  .intro__title {
    margin-bottom: 30px;
  }
  .intro__inner {
    max-width: 730px;
    top: calc(50% - 170px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__description {
    max-width: 600px;
  }
  .about__description__text:nth-child(3) {
    margin-bottom: 30px;
  }
  .about__photo {
    max-width: 600px;
    margin-bottom: 30px;
  }
  .about__text br {
    display: none;
  }
  .about__title {
    display: none;
  }
  .about__title_hidden {
    display: block;
    margin-bottom: 40px;
  }
  .skills__inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .skills__block {
    max-width: 300px;
  }
  .portfolio__works {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .portfolio__work {
    max-width: 600px;
  }
  .portfolio__work_background {
    min-height: 700px;
  }
  .portfolio__work_link:nth-child(n+2) {
    margin-bottom: 0;
  }
  .portfolio__work_link:nth-child(6) {
    margin-bottom: 0;
  }
  .comments__slide {
    max-width: 700px;
    height: 295px;
  }
  .price__section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .price-block {
    max-width: 700px;
    padding: 80px;
  }
  .price-block:first-child {
    margin-bottom: 100px;
  }
  .order__title {
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 55px;
  }
  .order__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .order__input {
    margin-bottom: 55px;
    width: 690px;
    padding: 20px 25px 20px;
  }
  .order__input:valid {
    background-position-x: 650px;
  }
  .js-validate-error-label {
    bottom: 25px;
  }
  .order__button {
    margin-right: auto;
    width: 350px;
  }
  .order__policy_text {
    margin-left: 0;
    margin-right: auto;
    max-width: 350px;
  }
  .footer-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer-nav__list:last-child {
    margin-bottom: 0;
  }
  .footer__section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-about {
    margin-bottom: 35px;
  }
  .footer-about__text {
    max-width: 100%;
  }
  .footer-lower {
    margin-top: 35px;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .footer__social {
    margin-right: auto;
    margin-left: 0;
    margin-bottom: 35px;
  }
}

@media (max-width: 730px) {
  .container {
    max-width: 560px;
  }
  body {
    font-size: 18px;
  }
  .title {
    font-size: 90px;
    line-height: 90px;
  }
  .subtitle {
    font-size: 27px;
    line-height: 37px;
  }
  .text {
    font-size: 18px;
    line-height: 26px;
  }
  .header {
    top: 55px;
  }
  .intro__inner {
    max-width: 560px;
    top: calc(50% - 125px);
  }
  .intro__title {
    margin-bottom: 15px;
  }
  .intro__subtitle {
    display: none;
  }
  .about {
    padding-top: 150px;
    padding-bottom: 150px;
  }
  .skills {
    padding-top: 150px;
    padding-bottom: 150px;
  }
  .skills__inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .skills__block {
    max-width: 320px;
  }
  .skills__block:nth-child(6) {
    margin-bottom: 0;
  }
  .portfolio {
    padding-top: 150px;
  }
  .portfolio__work_background {
    min-height: 650px;
  }
  .comments {
    padding-top: 150px;
  }
  .comments__slide {
    height: 280px;
  }
  .price {
    padding-top: 150px;
  }
  .price-block:first-child {
    margin-bottom: 80px;
  }
  .order {
    padding-top: 150px;
  }
  .order__title {
    font-size: 38px;
    line-height: 38px;
  }
  .order__input {
    width: 520px;
  }
  .order__input:valid {
    background-position-x: 480px;
  }
  .order__button {
    width: 520px;
  }
  .order__policy_text {
    margin-right: 0;
    max-width: 520px;
  }
  .footer {
    padding-top: 150px;
  }
  .footer__inner {
    padding: 70px;
  }
  .footer-lower__link {
    margin-left: 0;
    margin-bottom: 15px;
  }
}

@media (max-width: 580px) {
  .container {
    max-width: 470px;
  }
  .title {
    font-size: 80px;
    line-height: 80px;
  }
  .subtitle {
    font-size: 24px;
    line-height: 30px;
  }
  .text {
    line-height: 21px;
  }
  .intro__inner {
    max-width: 470px;
  }
  .intro__title {
    margin-bottom: 10px;
  }
  .intro__text {
    max-width: 350px;
  }
  .about {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .about__text:nth-child(3) {
    margin-bottom: 40px;
  }
  .about-achievement {
    max-width: 125px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .about__title {
    font-size: 70px;
  }
  .skills {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .skills__block {
    margin-bottom: 100px;
  }
  .skills_title {
    margin-top: 30px;
    margin-bottom: 15px;
  }
  .portfolio {
    padding-top: 120px;
  }
  .portfolio__work_background {
    min-height: 530px;
  }
  .portfolio__work_subtitle {
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .comments {
    padding-top: 120px;
  }
  .comments__slide {
    padding-top: 40px;
  }
  .price {
    padding-top: 120px;
  }
  .price-block {
    padding: 55px;
  }
  .order {
    padding-top: 120px;
  }
  .order__title {
    font-size: 30px;
    line-height: 32px;
  }
  .order__input {
    margin-bottom: 40px;
    width: 100%;
    max-width: 470px;
  }
  .order__input_wrap {
    width: 100%;
  }
  .order__input:valid {
    background-position-x: 385px;
  }
  .order__button {
    width: 100%;
  }
  .js-validate-error-label {
    bottom: 11px;
  }
  .footer {
    padding-top: 120px;
    padding-bottom: 30px;
  }
  .footer__inner {
    padding: 55px;
  }
  .footer-nav__list {
    margin-right: 50px;
  }
  .thank {
    left: 10px;
    padding: 25px;
    background-color: #1e202c;
    width: 100%;
    max-width: 334px;
  }
  .thank__text {
    max-width: 250px;
  }
  .thank__close {
    background: url("/resources/img/thank/close.svg") center no-repeat;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 16px;
    height: 16px;
  }
  .thank__title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .active {
    bottom: 20px;
  }
}

@media (max-width: 460px) {
  .title {
    font-size: 60px;
    line-height: 55px;
  }
  .header {
    top: 35px;
  }
  .header__social_visible {
    display: none;
  }
  .header__social_hidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 35px;
  }
  .header__social_item {
    display: inline-block;
    margin-right: 25px;
  }
  .header__link {
    margin-right: auto;
    margin-left: 0;
  }
  .order__input:valid {
    background-position-x: 385px;
    border: 2px solid #6fcf97;
  }
  .about {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .about-achievement {
    max-width: 115px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .about-achievement__title {
    font-size: 65px;
  }
  .skills {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .skills__block {
    margin-bottom: 100px;
  }
  .skills__block:nth-child(n + 2) {
    margin-bottom: 100px;
  }
  .skills__block:nth-child(6) {
    margin-bottom: 0;
  }
  .portfolio {
    padding-top: 100px;
  }
  .portfolio__work_background {
    min-height: 400px;
    padding: 55px 35px;
  }
  .comments {
    padding-top: 100px;
  }
  .price {
    padding-top: 100px;
  }
  .price-block {
    padding: 40px;
  }
  .price-block__menu_item {
    margin-bottom: 10px;
  }
  .price-block:first-child {
    margin-bottom: 80px;
  }
  .price-block:nth-child(n + 2) {
    margin-bottom: 0;
  }
  .price-block__title {
    margin-bottom: 20px;
    font-size: 38px;
  }
  .price-block__text {
    margin-bottom: 40px;
  }
  .price-block__menu {
    margin-bottom: 40px;
  }
  .price-block__price {
    font-size: 38px;
  }
  .order {
    padding-top: 100px;
  }
  .order__title {
    font-size: 32px;
    line-height: 29px;
    margin-bottom: 40px;
  }
  .footer {
    padding-top: 100px;
  }
  .footer__inner {
    padding: 40px;
  }
  .footer-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footer-nav__list:last-child {
    margin-bottom: 15px;
  }
}

@media (max-width: 415px) {
  .about-achievement {
    max-width: 95px;
  }
  .about-achievement__title {
    font-size: 55px;
  }
  .about-achievement__text {
    font-size: 16px;
  }
  .comments {
    padding-bottom: 0;
  }
  .comments__slider {
    margin-top: 40px;
  }
  .comments__slide {
    height: 240px;
    padding: 22px 20px;
    height: 240px;
  }
  .comments__slide_name {
    padding-left: 100px;
  }
  .comments__slide_name:after {
    top: 0;
    width: 80px;
    height: 80px;
    background-size: 80px;
  }
  .comments__slide_text {
    margin-top: 25px;
  }
  .comments__slide_rating {
    padding-left: 100px;
    margin-top: 10px;
    font-size: 16px;
  }
  .skills__block_title {
    margin-top: 30px;
    margin-bottom: 15px;
  }
  .portfolio__works {
    margin-top: 50px;
  }
  .portfolio__work_subtitle {
    font-size: 20px;
  }
  .portfolio__img_container {
    margin-bottom: 0;
  }
  .price__section {
    margin-top: 40px;
  }
  .price-block {
    padding: 35px;
  }
  .price-block__title {
    margin-bottom: 15px;
    font-size: 27px;
  }
  .price-block__text {
    margin-bottom: 30px;
  }
  .price-block__menu {
    margin-bottom: 30px;
  }
  .price-block__price {
    font-size: 34px;
  }
  .footer-about__title {
    font-size: 31px;
  }
  .footer__social {
    margin-bottom: 20px;
  }
  .footer__social_item {
    margin-right: 20px;
  }
  .footer-lower {
    margin-top: 20px;
  }
}

@media (max-width: 380px) {
  .order__policy_text {
    font-size: 14px;
  }
  .order__title {
    font-size: 27px;
    line-height: 25px;
  }
}

@media (max-width: 360px) {
  .intro__inner {
    top: calc(50% - 140px);
  }
  .portfolio__work_subtitle {
    font-size: 18px;
  }
  .portfolio__work_background {
    min-height: 350px;
    padding: 35px 20px;
  }
  .comments__slide_text {
    font-size: 16px;
  }
  .price-block__title {
    margin-bottom: 15px;
    font-size: 22px;
  }
  .price-block__price {
    font-size: 30px;
  }
  .footer__inner {
    padding: 35px;
  }
  .thank {
    max-width: 300px;
  }
}

@media (max-width: 350px) {
  .title {
    font-size: 55px;
    line-height: 60px;
  }
  .about-achievement {
    max-width: 85px;
  }
  .about-achievement__title {
    font-size: 50px;
  }
  .comments__slide {
    height: 240px;
  }
  .comments__slide_name {
    padding-left: 85px;
  }
  .comments__slide_name:after {
    width: 70px;
    height: 70px;
    background-size: 70px;
  }
  .comments__slide_rating {
    padding-left: 85px;
  }
  .price-block {
    padding: 20px;
  }
  .order__title {
    font-size: 26px;
    line-height: 23px;
  }
  .order__policy_text {
    font-size: 13px;
  }
}

/* Lasndcape mobile orentashion */
@media screen and (orientation: landscape) and (max-device-width: 900px) and (max-device-height: 700px) {
  .intro__inner {
    top: calc(50% - 66px);
  }
  .title {
    font-size: 45px;
    line-height: 50px;
  }
  .subtitle {
    font-size: 20px;
    line-height: 22px;
  }
  .text {
    font-size: 16px;
    line-height: 22px;
  }
  .intro__title {
    margin-bottom: 10px;
  }
  .intro__subtitle {
    margin-bottom: 10px;
  }
  .intro__text {
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=common.css.map */